<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:insert="header::copy"></div>
<div class="container mt-3 w-50">
    <form action="/address/edit" method="post">
        <div class="form-group-lg">
            <div th:object="${currentAddress}">
                <label for="city">City</label>
                <select class="form-control" id="city" name="city">
                    <option>Brest</option>
                    <option>Vitebsk</option>
                    <option>Gomel</option>
                    <option>Grodno</option>
                    <option>Minsk</option>
                    <option>Mogilev</option>
                </select>
                <label for="street">Street</label>
                <input class="form-control is-valid" id="street" name="street" required th:value="*{streetName}"
                       type="text">
                <label for="house">House number</label>
                <input class="form-control is-valid" id="house" name="house" required th:value="*{houseNumber}"
                       type="text">
                <label for="flat">Flat number</label>
                <input class="form-control is-valid" id="flat" name="flat" required th:value="*{flatNumber}"
                       type="text">
                <label for="stage">Stage number</label>
                <input class="form-control is-valid" id="stage" name="stage" required th:value="*{stageNumber}"
                       type="text">
                <label for="entrance">Entrance number</label>
                <input class="form-control is-valid" id="entrance" name="entrance" required th:value="*{entranceNumber}"
                       type="text">
                <input hidden name="id" th:value="*{id}"/>
                <input name="_csrf" th:value="${_csrf.token}" type="hidden"/>
            </div>
            <button class="btn btn-primary mt-2" type="submit">Save</button>
            <a class="btn btn-secondary mt-2" role="button" th:href="@{'/user/'+${currentUser?.getId()}}">Cancel</a>
        </div>
    </form>
</div>
<div th:insert="footer::copy"></div>
</body>
</html>