<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:insert="header::copy"></div>
<div class="container mt-3">
    <form action="/creditCard/add" method="post">
        <div class="form-group w-50" th:object="${newCreditCard}">
            <label for="cardNumber">Card number</label>
            <input class="form-control is-valid" id="cardNumber" pattern="^[0-9]{16}$" placeholder="123123123123"
                   required
                   th:field="*{cardNumber}" type="text">
            <label for="date">Valid thru</label>
            <input class="form-control is-valid" id="date" pattern="^[0-9]{2}\/[2-9][0-9]$" placeholder="08/22"
                   required th:field="*{cardDate}" type="text">
            <label for="Cvv">cvc/cvv</label>
            <input class="form-control is-valid" id="Cvv" pattern="^[0-9]{3}$" required th:field="*{cardCvv}"
                   type="password">
            <input name="_csrf" th:value="${_csrf.token}" type="hidden"/>
            <button class="btn btn-primary mt-2" type="submit">Save</button>
            <a class="btn btn-secondary mt-2" role="button" th:href="@{'/user/'+${currentUser?.getId()}}">Cancel</a>
        </div>
    </form>
</div>
<div th:insert="footer::copy"></div>
</body>
</html>