<!DOCTYPE html>
<html lang="en" th:fragment="copy" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delivery</title>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
</head>
<body>
<div th:insert="header::copy"></div>
<h2 th:text="#{dishes}"></h2>
<div class="mx-5">
    <table class="table">
        <thead class="table">
        <tr>
            <th scope="col" th:text="#{menu.title}"></th>
            <th scope="col" th:text="#{menu.price}"></th>
            <th scope="col" th:text="#{category}"></th>
            <th scope="col" th:text="#{menu.description}"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${dishList.isEmpty()}">
            <td colspan="2">No user available</td>
        </tr>
        <tr th:each="dish : ${dishList}">
            <td class="w-25"><span th:text="${dish.title}"></span></td>
            <td><span th:text="${dish.price}"></span></td>
            <td><span th:text="${dish.category.toString().toLowerCase()}"></span></td>
            <td><span th:text="${dish.description}"></span></td>
            <td class="row w"><a class="btn btn-link" role="button"
                                 th:href="@{'/admin/dish/edit/'+${dish?.id}}" th:text="#{low.case.edit}"></a>
                <form method="post" th:action="@{/admin/dish/delete}">
                    <input hidden name="dishId" th:value="${dish.id}">
                    <input name="_csrf" th:value="${_csrf.token}" type="hidden"/>
                    <button class="btn btn-link" th:text="#{low.case.del}" type="submit"></button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary ml-5" href="/admin/dish/add" th:text="#{add.dish}"></a>
</div>
</body>
<footer>
    <div th:insert="footer::copy"></div>

</footer>
</html>