<html lang="en" th:fragment="copy" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        html,
        body {
            height: 100%;
        }

        .footer {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 80px;
            line-height: normal;
        }
    </style>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div align="center" class="footer mt-5">
    <p>Coursework by Polina Lobovich  developed using
        free resources from <a href="https://getbootstrap.com/">Bootstrap</a>, by <a
                href="https://twitter.com/mdo">@mdo</a>.
    </p>
</div>
</body>
</html>