<html th:fragment="copy" th:lang="${lang}" th:with="lang=${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h4 class="my-0 mr-md-auto font-weight-normal"><a th:href="@{/home}">Food delivery</a></h4>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="btn-sm btn-secondary" href="?lang=en_EN" th:text="'en'"></a>
        <a class="btn-sm btn-secondary" href="?lang=ru_RU" th:text="#{lang.ru}"></a>

        <a class="p-2 text-dark" th:href="@{/registration}" th:text="#{header.registration}"></a>

        <a class="p-2 text-danger" th:each="role : ${currentUser?.roles}" th:href="@{/admin/dishes}"
           th:if="${role.authority.equals('ADMIN')}" th:text="#{header.dish.list}"></a>

        <a class="p-2 text-danger" th:each="role : ${currentUser?.roles}" th:href="@{/admin/users}"
           th:if="${role.authority.equals('ADMIN')}" th:text="#{header.user.list}"></a>

        <a class="p-2 text-dark" th:href="@{'/user/'+${currentUser?.id}}"
           th:if="${currentUser?.id}" th:text="#{header.profile}"></a>
        <a class="p-2 text-dark" th:unless="${currentUser?.id}"></a>

        <a class="p-2 text-dark" th:href="@{/order}" th:if="${currentUser?.id}" th:text="#{header.order}"></a>
        <span class="alert alert-danger p-sm-1"
              th:if="${currentUser?.id}"
              th:text="${currentOrder.dishes.size()}"></span>
    </nav>
    <a class="btn btn-outline-primary" th:href="@{/login}" th:text="#{header.login}" th:unless="${currentUser?.id}"></a>

    <form method="post" th:action="@{/logout}">
        <input type="hidden" value="Sign Out"/>
        <button class="btn btn-outline-secondary ml-lg-2" th:if="${currentUser?.id}" th:text="#{header.logout}"
                type="submit"></button>
    </form>
</div>
</body>
</html>