<!DOCTYPE html>
<html th:lang="${lang}" th:with="lang=${#locale.language}" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Delivery</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
</head>
<body>
<h1 align="center" style="margin-top: 10%"><a href="/login">Log in </a> or <a href="/registration"> Register.</a>
</h1>
<div align="center">
</div>
</body>
</html>