<!DOCTYPE html>
<html lang="en" th:fragment="copy" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delivery</title>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
</head>
<body>
<div th:insert="header::copy"></div>
<h2 align="center" th:text="#{menu}"></h2>
<div th:insert="category::copy"></div>
<div class="container mt-5">
    <table class="table">
        <thead class="table">
        <tr>
            <th scope="col" th:text="#{menu.title}"></th>
            <th scope="col" th:text="#{menu.price}"></th>
            <th scope="col" th:text="#{menu.description}"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${dishes.isEmpty()}">
            <td colspan="2">No dishes available</td>
        </tr>
        <tr th:each="dish : ${dishes}">
            <td style="width:300px;"><span th:text="${dish.title}"></span></td>
            <td style="width:300px;"><span th:text="'$ '+${dish.price}"></span></td>
            <td style="width:500px;"><span th:text="${dish.description}"></span></td>
            <td>
                <form action="/busket" method="post">
                    <input hidden name="dishId" th:value="${dish.getId()}">
                    <input name="_csrf" th:value="${_csrf.token}" type="hidden"/>
                    <button class="btn btn-link" th:text="#{menu.add}" type="submit"></button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>