<!DOCTYPE html>
<html lang="en" th:fragment="copy" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delivery</title>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
</head>
<body>
<div th:insert="header::copy"></div>
<h2 align="center" th:text="#{user.list}"></h2>
<div class="mx-5">
    <table class="table">
        <thead class="table">
        <tr>
            <th scope="col" th:text="#{username}"></th>
            <th scope="col" th:text="#{first.name}"></th>
            <th scope="col" th:text="#{last.name}"></th>
            <th scope="col" th:text="#{phone.number}"></th>
            <th scope="col" th:text="#{email}"></th>
            <th scope="col" th:text="#{order.list}"></th>
            <th scope="col" th:text="#{user.role}">Role</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${userList.isEmpty()}">
            <td colspan="2">No user available</td>
        </tr>
        <tr th:each="user : ${userList}">
            <td><span th:text="${user.username}"></span></td>
            <td><span th:text="${user.personalInfo.firstName}"></span></td>
            <td><span th:text="${user.personalInfo.lastName}"></span></td>
            <td><span th:text="${user.personalInfo.phoneNumber}"></span></td>
            <td><span th:text="${user.personalInfo.email}"></span></td>
            <td><a class="btn btn-link" role="button"
                   th:href="@{'/admin/user/orders/'+${user.id}}" th:text="#{to.list}"></a></td>
            <td><span th:each="role : ${user.roles}"><h6 th:text="${role.authority.toLowerCase()}"></h6></span></td>
            <td>
                <div th:if="${user.roles.size()==2}">
                    <form method="post"
                          th:action="@{/admin/user/delAdmin}">
                        <input hidden name="userId" th:value="${user.id}">
                        <input name="_csrf" th:value="${_csrf.token}" type="hidden"/>
                        <button class="btn btn-danger" th:text="#{del.admin.role}" type="submit"></button>
                    </form>
                </div>
                <div th:if="${user.roles.size()==1}">
                    <form method="post"
                          th:action="@{/admin/user/addAdmin}">
                        <input hidden name="userId" th:value="${user.id}">
                        <input name="_csrf" th:value="${_csrf.token}" type="hidden"/>
                        <button class="btn btn-success" th:text="#{add.admin.role}" type="submit"></button>
                    </form>
                </div>
        </tr>
        </tbody>
    </table>
</div>
<div th:insert="footer::copy"></div>
</body>
</html>